



@font-face{
  font-family:'gilroy';
  src:url(Gilroy/Gilroy-Medium.ttf);
}










header{


  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height: 871px;




}
.logo{
  width: 550px;

/*position: absolute;
bottom:160px;
width: 550px;
top:100px
  margin-bottom: 300px;;*/


}
#backgroundimg{

  /*position: relative;
 bottom: 600px;*/



}
/*nav{
position: absolute;
width: 544px;
height: 24px;
left: 455px;
top: 78px;
}*/
.logo{
  position: absolute;
  top:40px;



}
.h1{
  /* Committed to superior quality and results */


position: absolute;
top: 200px;
left: 160px;
width: 460px;
height: 320px;
font-family: Gilroy;
font-style: normal;

font-size: 70px;

/* or 114% */


color: #17161A;
}

ul li{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  list-style-type: none;
  color: #6E757C;
  display:inline;
}
/*NAV Bar*/
 .home {
  /* Home */


position: absolute;
left: 455px;
top: 78px;
width: 44px;
height: 24px;

z-index:1;

}

.our-clients{
/*our clients*/
  position: absolute;
  left: 555px;
  top: 78px;

  width: 80px;
  height: 24px;
  z-index:1;

}
 .projects{
/*projects*/
position: absolute;
left: 691px;
top: 78px;
width: 68px;
height: 24px;
z-index:1;

}

 .services{
   /*services*/
 position: absolute;
left: 815px;
top: 78px;
width: 62px;
height: 24px;
z-index:1;
}

 .about_us{
/*About us*/
position: absolute;
left: 933px;
top: 78px;

width: 66px;
height: 24px;
z-index:1;
}

.gitting{
/* Paragraph element "Gitting it Done"*/
position: absolute;
top: 211px;
left: 160px;
width: 132px;
height: 16px;

font-family: Graphik;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #6E757C;
}
.orgnize{
/* Paragraph element "Orgnize your tasks..etc"*/
position: absolute;
width: 381px;
height: 66px;
left: 160px;
top: 596px;

font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 20px;
color: #6E757C;
}
.button1{
/*button of contact us*/
position: absolute;
width: 119px;
height: 56px;
left: 1140px;
top: 62px;
background: #F0595B;
border-radius: 12px;
border:none;
z-index:1;
}
#contact{
  /*text of button contact us*/
  color:white;
  text-decoration: none;
}
.button2{
  /*button of Download*/
position: absolute;
top: 703px;
width: 272px;
height: 56px;
left: 160px;
background: #56A9D5;
border-radius: 12px;
border:none;
}
#download{
    /*text of button Download*/
  color:white ;
    text-decoration: none;
}

/*Who are we*/

.AboutRKC{

position: absolute;
left: 160px;
width: 80px;
height: 16px;

font-family: Graphik;
font-style: normal;
font-weight: 600px;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #6E757C;
}
.whoR{
  position: absolute;
  left: 160px;
  width: 320px;
  height: 112px;
  left: 160px;

  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #17161A;

}

.section1{

  position: relative;
  top: 900px;
  left: 0px;
  right: 0px;
  width:100%;
  height: 630px;}






.paragraph1{
  position: absolute;
  left: 160px;
  top: 150px;
  width: 460px;
  height: 222px;

font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 27px;
color: #6E757C;}

#read{

width: 460px;
height: 222px;
position: absolute;
left: 300px;
top: 354px;

font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 27px;
text-decoration: none;
color: #6E757C;
}

#vision{
  /* Our vision: */
position: absolute;
left: 160px;
top: 360px;
width: 320px;
height: 56px;

font-family: Gilroy;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 56px;
border-color: #A9A9A9;
padding-left: 15px;


border-bottom-style: solid;
border-width: 1px;
color: #17161A;}


#message{
position: absolute;
left: 160px;
top:430px;
width: 320px;
height: 56px;

font-family: Gilroy;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 56px;
border-bottom-style: solid;
border-width: 1px;
border-color: #A9A9A9;
padding-left: 15px;
color: #17161A;}



#messsagepa{
position: absolute;
left: 160px;
top:500px;
width: 354px;
height: 60px;


font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
color: #6E757C;}


.fas{
    color:  #A9A9A9;
}
.fa-plus{

position: absolute;
left: 475px;
top:400px;

}
.fa-minus{
position: absolute;
left: 475px;
top:470px;
}

.arrow {
  text-decoration: none;
  display: inline-block;
  padding: 8px 20px;

  position:relative;
  bottom:735px;
  left:715px;

}

.arrow:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #ddd ;
  color: white;
}
